---
layout: default
title: 
js: dashboard.js
---
<h1>Projects</h1>
<table cellpadding="0" cellspacing="0" border="0" class="data_table display" id="projects_table">
  <thead>
    <tr>
      <td>Name</td>
      <td>PI</td>
      <td>Researcher</td>
      <td>Analyst</td>
      <td>Date Created</td>
    </tr>
  </thead>
  <tbody>
    {% assign overviews = site.post_data["type"]["overview"] | map: 'url' %}

    {% for post in site.posts %}
      {% unless overviews contains post.url %}
        <tr>
          <td><a href="{{ post.url}}"> {{ post.title | truncate:80 }}</a></td>
          <td>{{ post.pi }}</td>
          <td>{{ post.researcher }}</td>
          <td>{{ post.analyst }}</td>
          <td>{{ post.date | date_to_string }}</td>
        </tr>
  {% endunless %}
{% endfor %}
  </tbody>
</table>

<div class="row">
  <div class="span4">
    <h1><a href="#" id="analysts_link">Analysts</a></h1>
    <div id="analysts" style="display:none;">
      {% for analyst in site.post_data["analyst"] %}
      <li><a href="/{{ site.analyst_dir }}/{{ analyst[0] | replace:' ', '-' | downcase  }}">{{ analyst[0] }}</a></li>
      {% endfor %}
    </div>
  </div>
  <div class="span4">
    <h1><a id="researchers_link" href="#">Researchers</a></h1>
    <div id="researchers" style="display:none;">
      {% for researcher in site.post_data["researcher"] %}
      <li><a href="/{{ site.researcher_dir }}/{{ researcher[0] | replace:' ', '-' | downcase  }}">{{ researcher[0] }}</a></li>
      {% endfor %}
    </div>
  </div>

  <div class="span4">
    <h1><a href="#" id="pis_link">PIs</a></h1>
    <div id="pis" style="display:none;">
      {% for pi in site.post_data["pi"] %}
      <li><a href="/{{ site.pi_dir }}/{{ pi[0] | replace:' ', '-' | downcase  }}">{{ pi[0] }}</a></li>
      {% endfor %}
    </div>
  </div>
  <div class="span4">
    <h1><a href="#" id="categories_link">Categories</a></h1>
    <div id="categories" style="display:none">
      {% for category in site.categories %}
      <li><a href="/{{ site.category_dir }}/{{ category[0] | replace:' ', '-' | downcase  }}">{{ category[0] }}</a></li>
      {% endfor %}
    </div>
  </div>

</div>

<div class="row">
</div>
